* {     font-family: 'New Tegomin', serif;
        box-sizing: border-box;
        background-color: cornflowerblue;
    }
    
    
    .aside {
        text-align: right;
    }
    
    
    #main {
        margin-bottom: 20px;
        font-size: 35px;
        width:auto;
        height: 25px;
        margin: auto;
        text-align: center;
    }
    
    
 
    